:root {
    --color-light: #f8f8f8;
    --color-white: #ffff;
    --color-dark: #6c7177;
    --color-black-sec: #202021;
    --color-dark-sec: #343a40;
    --color-main: #b5ad4d;
    --color-main: #a5b54d;
    --color-main: #d6505d;
    --color-main: #d69a50;
    --color-main: #e24727;
    // --color-main: #d67550;
    --font-main: 'Montserrat', sans-serif;
    --color-dark-main: #414448;
}