/* My Services */
.myServices{
	padding: 4rem 0;

	.container{
		.servicesContainer{
			.item{
				width: 32%;
				margin-bottom: 2rem;
				background-color: var(--color-light);
				height: 200px;
				padding: 1rem;
				cursor: pointer;

				.icon{
					width: 100px;
					height: 100%;
					margin-top: 3rem;

					span{
						font-size: 2rem;
						color: var(--color-main);
						i{
							transition: all 1s;
							transform-origin: center;
						}
					}
				}

				.info{
					height: 100%;
					margin-top: 3rem;

					h4{
						// font-family: $font-popp;
						font-size: 1.2rem;
					}

					p{
						// font-family: $font-muli;
						color: rgba(black, 0.8);
					}
				}

				&:hover{
					.icon{
						span{
							i{
								transform: rotateY(-360deg);
							}
						}
					}
				}
			}
		}
	}
}