* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
    font-family: var(--font-main);
}

.textIntro{
    border-bottom: 1px solid rgba(black, 0.07);
    padding-bottom: 1rem;
	h2,h3{
		span{
			color: var(--color-main);
		}
	}

	h2{
		font-size: 2rem;
	}

	h3{
		font-weight: normal;
		font-size: 1.2rem;
		color: rgba(black, 0.7);
	}
}